# Claves
LLM_PROVIDER=openai
OPENAI_API_KEY=your_openai_key_here
TELEGRAM_BOT_TOKEN=your_telegram_token_here
GROQ_API_KEY=gsk_tu_clave_de_groq_aqui

# Modelos y sup
OPENAI_MODEL_SUPERVISOR=gpt-4o-mini

# Índices y Chrome para PNG (ajustado al contenedor)
INDICES_DIR=/data/processed/indices/current
KAL_CHROME_PATH=/usr/bin/google-chrome-stable
